@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#root {
    flex-grow: 1;
}

.hidden-scrollbar {
    scrollbar-width: none;
}